{
  "presets": ["airbnb"],
  "sourceMaps": "inline",
  "retainLines": true,
  "env": {
    "test": {
      "plugins": [
        "istanbul",
        ["module-resolver", { "root": ["./src/"] }],
      ]
    },
    "testCompiled": {
      "plugins": [
        ["module-resolver", { "root": ["./lib/"] }],
      ]
    }
  }
}
