{
  "presets": [ "es2015-argon" ],
  "sourceMaps": "inline",
  "env": {
    "test": {
      "plugins": [
        "istanbul",
        [ "module-resolver", { "root": [ "./src/" ] } ]
      ]
    },
    "testCompiled": {
      "plugins": [
        [ "module-resolver", { "root": [ "./lib/" ] } ]
      ]
    }
  }
}
